@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text-color: #ccdae7;
}

body {
  scroll-behavior: smooth;
  color: var(--primary-text-color);
}

.hero-bg {
  width: 100%;
  height: 100vh;
  background-image: url("/Assest/asset 38.png");
}

.text_gradient_teal {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(243deg, #3dd875 23%, #0eb3a0 87%);
  -webkit-background-clip: text;
  background-clip: text;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
